<section class="jumbotron text-center album-jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading">{{ serverInfo?.albumTitle }}</h1>
    <p class="lead text-muted">This album displays a random selection of images from an API</p>
    <p>
      <button class="btn btn-primary" (click)="getImages()">Randomize!</button>
    </p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let image of images">
        <img data-src="{{image.url}}" alt="{{image.url}}">
        <a target="_blank" href="{{image.url}}">{{image.url}}</a>
      </div>
    </div>
  </div>
</div>
