{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Random Album</title>
    <base href="/">
    <link href="{% static 'album/app/styles.a79b41e0de129280bfb6.bundle.css' %}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>


<app-root></app-root>
<script type="text/javascript" src="{% static 'album/app/inline.29dbe389a439465fa1aa.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'album/app/polyfills.fe4193eef4c7f045aa19.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'album/app/vendor.6aa887f034ec31159af5.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'album/app/main.bfa3b87a47bed8985ef7.bundle.js' %}"></script>


</body>
</html>
