{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Random Album</title>
    <base href="/">
    <link href="{% static 'album/app/styles.f2ee45e30df54e4a42ca.bundle.css' %}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
</head>
<body>


<app-root></app-root>
<script type="text/javascript" src="{% static 'album/app/inline.15385ded64178ece98f0.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'album/app/polyfills.f20484b2fa4642e0dca8.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'album/app/main.fe40597f6d5f5c7ccd30.bundle.js' %}"></script>

</body>
</html>
