<ng-template #aboutModalContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Server Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="apiURL" class="col-sm-2 col-form-label">API_URL:</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="apiURL"
                 value="{{ serverInfo.apiUrl }}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href class="navbar-brand">My Photo Album</a>
    <!--<button class="btn btn-dark btn-outline-light" (click)="showAboutModal(aboutModalContent)">About</button>-->
  </div>
</div>

<router-outlet></router-outlet>

